<nav class='panel'>
    <p class='panel-heading'><%= current_user.username %></p>
    <p class='panel-block'>Likes: <%= current_user.liked_posts.count %></p>
</nav>


<nav class='panel'>
    <p class='panel-heading'>Friends: <%= current_user.friends.count %></p><br />
    <% current_user.friends.each do  |u| %>
        <div class='panel-block'><%= u.username %> <%= button_to "Unfriend", friend_delete_path(u.id), method: :delete, class: 'button'%></div>
    <%end%>
</nav>
<nav class='panel'>
    <p class='panel-heading'>Friend Requests</p>
    <% current_user.recivedrequests.each  do |u| %>
        <div class='box'>
            <%= User.find(u.sender).username %> : <%= button_to "Accept Request", friend_request_path(u.sender), class: 'button' %>
        </div>
    <%end%>
</nav>