<div class='box'>
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :title, wrapper: false,label: false, placeholder: 'Title',input_html: {class: 'input'} %><br>
    <%= f.input :body, as: :text, wrapper: false, label: false, placeholder: 'Your Post', input_html: {class: 'input textarea'} %>

    <%= f.button :submit, class: 'button mt-2'%>
<% end %>
</div>
